# Node
node_modules/
npm-debug.log*

# Build
dist/
!frontend/dist/
build/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Environment
.env
.env.*

# Logs
*.log

# Database
*.db
*.db.fixbak
*.sqlite3
*.pkl.fixbak

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db